@import '../../../css-config/mixins.scss';
.hero-banner {
  padding: 40px 0;
  position: relative;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  .row {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    @include md {
      justify-content: flex-end;
      flex-direction: column-reverse;
      row-gap: 20px;
    }
    @include sm {
      padding: 0 20px;
    }
    .banner-img {
      height: 100%;
      width: 100%;
      margin: 0 auto;
      @include lg {
        width: 456px;
        height: 456px;
      }
      @include md {
        width: 336px;
        height: 336px;
      }
      @include xs {
        width: 200px;
        height: 200px;
        margin: 0 auto;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }

    .text-content {
      color: #fff;
      text-align: center;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      @include md {
        align-items: center;
      }
      @include sm {
        padding: 0 12px;
      }

      h1 {
        font-size: 180px;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 20px;
        @include md {
          font-size: 150px;
        }
        @include sm {
          font-size: 100px;
        }
        @include xs {
          font-size: 80px;
        }
      }
      p {
        width: 80%;
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 20px;
        text-align: justify;
        @include sm{
          width: 100%;
          text-align: center;
        }
      }
      .ctas {
        display: flex;
        justify-content: center;
        gap: 20px;
        @include xs{
          flex-direction: column;
        }
        .banner-cta {
          text-transform: uppercase;
          font-size: 13px;
          font-weight: 500;
          border: 2px solid #fff;
          padding: 10px 20px;
          cursor: pointer;
          &.v2 {
            background-color: #fff;
            color: #000;
          }
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }
  .content {
    .text-content {
      color: #fff;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include md {
        align-items: flex-start;
        justify-content: flex-start;
      }
      @include sm {
        padding: 0 12px;
      }

      h1 {
        font-size: 80px;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 20px;
        @include md {
          font-size: 180px;
        }
        @include sm {
          font-size: 100px;
        }
        @include lg {
          font-size: 180px;
        }
      }
      p {
        max-width: 300px;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
        text-align: justify;
        @include sm {
          max-width: 400px;
          font-size: 16px;
        }
        @include md {
          max-width: 500px;
          font-size: 18px;
          line-height: 1.5;
        }
        @include xl {
          max-width: 500px;
          font-size: 20px;
        }
      }
      .ctas {
        display: flex;
        justify-content: center;
        gap: 20px;
        .banner-cta {
          text-transform: uppercase;
          font-size: 13px;
          font-weight: 500;
          border: 2px solid #fff;
          padding: 10px 20px;
          cursor: pointer;
          &.v2 {
            background-color: #fff;
            color: #000;
          }
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }
}
