@import '../../../css-config/mixins.scss';
.shop-by-category {
  margin: 25px 0;
  .row {
    @include md {
      row-gap: 20px;
    }
    .category {
      background: #000;
      overflow: hidden;
      cursor: pointer;

      img {
        width: 100%;
        display: block;
        transition: all ease 0.3s;
      }
      &:hover {
        img {
          transform: scale(1.2);
        }
      }
    }
  }
}
