@import '../../css-config/mixins.scss';
.main-header {
  width: 100%;
  background-color: #212121;
  color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 99;
  position: fixed;
  top: 0;
  .header-content {
    @include flex();
    justify-content: space-between;
    height: 80px;
    @include md {
      height: 50px;
    }
    .left {
      margin: 0;
      @include flex();
      padding: 0;
      gap: 30px;
      li {
        a {
          font-size: 14px;
          font-weight: 600;
          text-transform: uppercase;
          cursor: pointer;
          color: #fff;
        }
      }
      @include md {
        display: none;
      }
    }
    .center {
      font-size: 34px;
      font-weight: 700;
      cursor: pointer;
      @include flex();
      justify-content: flex-start;
      @include md {
        font-size: 22px;
      }
      @include sm{
        font-size: 18px
      }
    }
    .right {
      @include flex();
      gap: 25px;
      @include md {
        gap: 15px;
      }
      svg {
        font-size: 24px;
        cursor: pointer;
        @include md {
          font-size: 20px;
        }
        @include sm{
          font-size: 18px;
        }
      }
      .cart-icon {
        position: relative;
        span {
          min-width: 20px;
          text-align: center;
          background-color: #8e2de2;
          padding: 2.5px;
          position: absolute;
          top: -5px;
          right: -12px;
          font-size: 12px;
          line-height: 1;
          border-radius: 50%;
          @include sm{
            min-width: 15px;
            font-size: 10px;
          }
        }
      }
    }
    &.sticky-header {
      transform: translateY(-80px);
      animation: stickyHeader 0.3s ease forwards;
    }
  }
}
@keyframes stickyHeader {
  0% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(0);
  }
}
